/* body {
  background-color: #202020;
  color: #fff;
}

a {
  color: #00b3ff;
  
}

a:hover {
  color: #0096d6;
}

a:visited {
  color: #00b3ff;
} */

/* HOW TO STYLE P WITH CLASS "SOURCE" */
a.source {
  font-size: 0.8em;
  color: #999;
}

p.quote {
  font-style: italic;
  font-size: 1.2em;  
}